.service-header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../../assets/services-header.jpg);
  background-position: center;
  background-size: cover;
}

/* .slogan1 {
  color:#0284C7;
  font-family:  'Courgette';
} */