/* ABOUT.JS */
/* TODO: ask james about the navbar thing. because right now it's overlapping the navbar. need to readjust probably */
.about-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin: 0;
}

.about-details {
  background-color: var(--ltGreen);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7rem;
}

.progress-bars {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress-bars p {
  font-size: 10px;
}

/* PROGRESS.JS */
.progress-bars-container {
  padding: 10px;
}

.progress {
  background-color: white;
  border-radius: 20px;
  height: 20px;
  width: 300px;
}

.progress-done {
  height: 100%;
  width: 0;
  opacity: 0;
  background: linear-gradient(to right, #e39383, #e3745e);
  color: white;
  box-shadow: 0 3px 3px -5px #e39383, 0 2px 5px #e3745e;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* makes the progress bars grow on refresh */
  transition: 1s ease;
}
