/* PROGRESS.JS */
.progress-done {
  height: 100%;
  width: 0;
  opacity: 0;
  /* background: linear-gradient(to right, #e3dd83, #e3cf5e);
  box-shadow: 0 3px 3px -5px #e3dd83, 0 2px 5px #e3c25e; */
  /* makes the progress bars grow on refresh */
  transition: 1s ease;
}

.progress-container {
  /* width: 32rem; */
}
