.header-gallery-section {
  background-color: #3b82f6;
}

/* Nav.js */
.nav-logo {
  height: 40px;
}

.left-nav-icons {
  width: 20px;
}

.middle-nav-icons {
  width: 20px;
}

.right-nav-icons {
  width: 20px;
}

.bottom-nav-icons {
  width: 18px;
}

/* Header.js */
.header-bg-color {
  background: #fffafb;
}

/* 639 changes */
.page {
  grid-template-columns: 60vw auto;
}

@media screen and (max-width: 639px) {
  .gallery-link-section {
    padding: 0;
  }
}

.gallery-header-container {
  /* background-color: #4fc7f9; */
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(../../assets/gallery.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* iPad Air Vertical */
@media (width: 820px) and (height: 1180px) {
  .gallery-header-container {
    height: 50vh;
  }
}

/* iPad Mini Vertical */
@media (width: 768px) and (height: 1024px) {
  .gallery-header-container {
    height: 60vh;
  }
}

@media screen and (max-width: 3440px) {
  .gallery-header-container {
    height: 60vh;
  }
}

@media screen and (max-width: 1920px) {
  .gallery-header-container {
    height: 60vh;
  }
}

@media screen and (max-width: 1440px) {
  .gallery-header-container {
    height: 75%;
  }
}
