@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* MedCare HealthCert Color Pallette */

  --blue: #dcf4ff;
  --yellow: #ffd57d;
  --red: #e3745e;
  --orange: #f6a865;
  --ltGreen: #eeefc1;
  --green: #e1e2a4;
  --footer: #13375b;
  --testimony: #edf1f4;
  --button: #0061af;
  --contactBox: #75a1de;
}
